<h6>Follow me</h6>

<ul class="menu">

    {% if site.harmony.social.github %}
    <li>
        <a title="Joey on Github"
            href="https://github.com/{{ site.harmony.social.github }}"
            target="_blank">Github</a>
    </li>
    {% endif %}

    {% if site.harmony.social.linkedin %}
    <li>
        <a title="Joey on Linkedin"
            href="https://www.linkedin.com/in/{{ site.harmony.social.linkedin }}"
            target="_blank">Linkedin</a>
    </li>
    {% endif %}

    {% if site.harmony.social.facebook %}
    <li>
        <a title="Joey on Facebook"
            href="https://facebook.com/{{ site.harmony.social.facebook }}"
            target="_blank">Facebook</a>
    </li>
    {% endif %}

    {% if site.harmony.social.weibo %}
    <li>
        <a title="Joey on Weibo"
            href="https://www.weibo.com/{{ site.harmony.social.weibo }}"
            target="_blank">Weibo</a>
    </li>
    {% endif %}

</ul>
